<h2>Все пользователи</h2>
<% if @users %>

 <% @users.each do |user| %>
   <p><%= user.id %>: <%= link_to user.user_name, user_path(user.id) %>  </p>
 <% end %>
<% end %>
session[:user] = <%= session[:user] %> <br>
session[:users] = <%= session[:users] %><br>
<br>
@users =
      <br>
 <%= @users %>
