<% if @user %>
<h1><%= @user.user_name %></h1>
<% if session[:user] %>
  <% if session[:user]['id'] == @user.id  %>
   <p><%= link_to 'Редактировать', edit_user_path %> <%= link_to 'Удалить пользователя', user_path(@user.id), method: :delete %></p>
  <% end %>


<%= session[:user]['id'] %>
<% end %>
<% end %>
<%= @user.id %>

