
<h1><%= @user['user_name'] %></h1>
<% if session[:user] == @user  %>
 <p><%= link_to 'Редактировать', edit_user_path %> <%= link_to 'Удалить пользователя', user_path(@user['id']), method: :delete %></p>
<% end %>

<%= session[:user] %>
<%= @user %>

