<div class="col-md-6 col-md-offset-3">
  <h1>Добавить пользователя</h1>
  <%= form_for @person, url: '/persons' do |f| %>
    <div class="form-group">
      <%= f.label :name, "ФИО:" %>
      <%= f.text_field  :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field  :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date_of_birth, "Дата рождения" %>
      <%= f.date_field  :date_of_birth, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :salary, "Зарплата:" %>
      <%= f.number_field  :salary, class: 'form-control' %>
    </div>
    <%= f.submit  'Сохранить', class: "btn btn-primary btn-sm" %>
  <% end %>
 </div>
